*.egg-info
*.mo
*.pyc
*.pyo
eggs/
venv/
sanitized/
*.tar.gz
.zedstate
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/pythonjam
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html
pythonjam*.tgz
